
@{
    ViewBag.Title = "casos";
    Layout = "~/Views/Shared/_LayoutCasos.cshtml";
}




<body>
    <h2>Que desea relizar?</h2><br>
    <button> @Html.ActionLink("Inversionista", "Inversionista", "Home")</button>
    <button> @Html.ActionLink("Prestario", "RegistroPrestamo", "Home")</button>
    <button> @Html.ActionLink("Fiador", "RegistroPrestamo", "Home")</button>
    <button> @Html.ActionLink("Inicio", "Inicio", "Home")</button><br>
</body>