body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    border: 2px solid gray;
    background-color: white;
    margin: auto;
    text-align: center;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    background-color: rgb(95, 146, 169);
}
